body {
    background-image:url(../RequiredFiles/JavaJam/fadedroad50.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-color: #fcebb6;
    color: #221811;
    font-family: Tahoma, Arial, Sans-Serif;
}
header {
    padding-top: 5px;
    padding-bottom: 5px;
}
h4 { 
    background-color: #d2b48c;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: .25em;
}
h2{
    color:#8c3826;
}
h3 {
    color:#8c3826;
}
dt {
    color:#8c3826;
}
h1 {
    font-size: 3em;
    color:#8c3826;
    background-color: #d2b48c;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
nav {
    text-align:center;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
}
nav a {
    text-decoration: none;
}
footer {
    background-color: #d2b48c;
    color: #221811;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    border-top: 2px solid #8c3826;
}
#wrapper {
    margin-left: auto;
    margin-right: auto;
    min-width: 900px;
    max-width: 1280px;
    filter: drop-shadow(5px 5px 4px #000000);
    background-color: #fefaeb;
}
main {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    display: block;
}
.details {
    padding-left: 20%;
    padding-right: 20%;
}
img {
    padding-left: 10px;
    padding-right: 10px;
}
#homehero {
    height: 300px;
    background-image: url(../RequiredFiles/JavaJam/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}